.menu{
    /*background-color: white;*/
    width: 100% ;
    position: fixed;
    z-index: 9998;
    top: 0;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.3);
}
.menu ul {
    float: right;
    margin-right: 30px;
    padding: 0 15px;
    overflow: hidden;

}

.menu ul li{
    display: inline-block;
    width: 200px;
    height: 100px;
    line-height:100px;
    transition: background-color 0.4s linear, box-shadow 0.2s linear, border 0.2s linear,height 0.2s linear, line-height 0.3s linear;

}

.menu-dol ul li{
    height: 50px;
    line-height:50px;
    transition: height 0.2s linear, line-height 0.3s linear;

}


.menu ul li:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.6), -5px 0 7px rgba(0, 0, 0, 0.6);
}



.menu ul li a{
    display: block;
    text-align: center;
    font-size: 24px;
    text-decoration: none;

}
.menu-logo{
    margin-left: 100px;
    background: url("./images/3w.png") no-repeat;
    background-size: cover;
    width: 130px;
    height: 100px;
    display: block;
    float:left;
    transition: height 0.2s linear, width 0.2s linear;
}

.menu-logo-dol{
    width: 65px;
    height: 50px;
    transition: height 0.2s linear, width 0.2s linear;
}