.kalendarz {
    background-color: silver;
    width: 100%;
    border: solid;
}

.bilety {
    background-color: silver;
    width: 100%;
    border: solid;
}

.profil {
    background-color: silver;
    width: 100%;
    border: solid;
}

.mapa {
    background-color: silver;
    width: 100%;
    border: solid;
}

.funkcje {
    background-color: black;
    width: 40%;
}