body {
    /*background: url('./images/tlo.jpg') no-repeat fixed bottom;*/
    background-size: cover;
    position: relative;
}
/*dodany został div obejmujący wszytko poniżej zajawki wtedy ładnie strona sie zwija*/


.clear {
    clear: both;
}
a{
    font-family: "Helvetica", "sans-serif";

}
main {
    background-color: rgba(255, 255, 255, 0.85);
}

body.fullWidth {
    width: 100%;
}

.funkcje a:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 15px 15px 15px 10px grey;
}

.funkcje {
    margin: 0 auto;
    padding-left: 20%;
    margin-top: 50px;
}

.funkcje a {
    background-color: red;
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 550px;
    height: 350px;
    border-radius: 15px;
    border-width: 2px;
    border: solid;
    border-color: black;
    margin: 40px;
}

.funkcje .nazwa-funkcjonalności {
    border-radius: 10px;
    /*background-color: black;*/
    text-align: center;
    color: transparent;
    font-size: 40px;
    margin-right: 145px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
}



.kalendarz:hover .opis-kalendarz {
    background-color: white;
    color: black;
    text-shadow:
            1px 0px 1px #ccc, 0px 1px 1px #eee,
            2px 1px 1px #ccc, 1px 2px 1px #eee,
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
}

.bilety:hover .opis-bilety {
    background-color: white;
    color: black;
    text-shadow:
            1px 0px 1px #ccc, 0px 1px 1px #eee,
            2px 1px 1px #ccc, 1px 2px 1px #eee,
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
}

.profil:hover .opis-profil {
    background-color: white;
    color: black;
    text-shadow:
            1px 0px 1px #ccc, 0px 1px 1px #eee,
            2px 1px 1px #ccc, 1px 2px 1px #eee,
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
}

.mapa:hover .opis-mapa {
    background-color: white;
    color: black;
    text-shadow:
            1px 0px 1px #ccc, 0px 1px 1px #eee,
            2px 1px 1px #ccc, 1px 2px 1px #eee,
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
}

.funkcje a:hover .nazwa-funkcjonalności {
    background-color: black;
    color: white;
}

.funkcje .opis-kalendarz {
    font-size: 25px;
    color: transparent;
    bottom: 0;
    position: absolute;
    border: solid;
    border-color: transparent;
    margin-left: 175px;
    /*background-color: black;*/
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-weight: 700;
}

.funkcje .opis-bilety {
    font-size: 25px;
    color: transparent;
    bottom: 0;
    position: absolute;
    border: solid;
    border-color: transparent;
    margin-left: 175px;
    /*background-color: black;*/
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-weight: 700;
}

.funkcje .opis-profil {
    font-size: 25px;
    color: transparent;
    bottom: 0;
    position: absolute;
    border: solid;
    border-color: transparent;
    margin-left: 175px;
    /*background-color: black;*/
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-weight: 700;
}
.funkcje .opis-mapa {
    font-size: 25px;
    color: transparent;
    bottom: 0;
    position: absolute;
    border: solid;
    border-color: transparent;
    margin-left: 175px;
    /*background-color: black;*/
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-weight: 700;
}

.funkcje .kalendarz {
    transition: transform, 0.3s linear;
    background: url("./images/kalendarz%20wersja%20pełna.jpg") no-repeat center;
}

.funkcje .bilety {
    transition: transform, 0.3s linear;
    background: url("./images/leo%20richie%20na%20bilecie.jpg") no-repeat center;
}

.funkcje .profil {
    transition: transform, 0.3s linear;
    background: url("./images/profil%20wersja%20pełna.jpg") no-repeat center;
}

.funkcje .mapa {
    transition: transform, 0.3s linear;
    background: url("./images/mapa%20wersja%20pełna.jpg") no-repeat center;
}

.smif {
    position: fixed;
    right: 0;
    top: 41%;
    /*padding-left: 450px;*/
    overflow: hidden;
    margin-right: -400px;
    z-index: 9999;
}

.smif img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.smif a {
    display: block;
    /*transition: margin-left 2s;*/
    font-size: 30px;
    text-decoration: none;
    color: black;
    width: 450px;
}

/*.smif a:hover {*/
    /*margin-left: -270px;*/
/*}*/

#cookies {
    cursor: pointer;
    background-color: rgba(76, 45, 43, 0.8);
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    text-shadow: 3px 3px 5px rgba(76, 45, 43, 0.9),-3px -3px 5px rgba(76, 45, 43, 0.9);



}

.menu ul {
    margin-right: 50px;
}

.menu ul li {
    display: inline-block;
    transition: background-color 0.4s linear, box-shadow 0.2s linear, border 0.2s linear;
    padding: 0 20px 0;


}

.menu ul li:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 0 7px rgba(60, 119, 159, 0.7),-5px 0 7px rgba(60, 119, 159, 0.7);


}

.menu {
    text-align: right;
    line-height: 100px;
    font-family: "Helvetica", "sans-serif";
    font-weight: 500;
}

.menu-el-zewnetrzene-prawy {
    margin-left: 5px;
}

.menu-el-zewnetrzene-lewy {
    margin-right: 5px;
}

.menu-el-zewnetrzene-srodek {
    margin: 0 5px 0 5px;
}

.menu a {
    font-size: 24px;
    color: rgb(60, 119, 159);
    text-decoration: none;
}

.formularz input[type=text],
.formularz input[type=email] {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(60, 119, 159);
    border-radius: 6px;

}

.formularz input[type=submit] {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(60, 119, 159);
    font-size: 20px;
    border-radius: 6px;
    width: 100px;
    font-family: "Helvetica", "sans-serif";


}

/*header {*/
    /*width: 100%;*/
/*}*/

.formularz input {
    margin-top: 10px;
    height: 30px;
    width: 230px;
    font-size: 18px;
    padding: 0 5px 0;
    font-family: "Helvetica", "sans-serif";

}

input:focus {
    outline: 0;
}

.formularz span {
    display: inline-block;
    width: 130px;
    color: rgb(60, 119, 159);
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica", "sans-serif";



}

.sekcja-zajawka {
    background-image: url('./images/tlo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
}

.sekcja-zajawka p{
    color: rgb(120, 106, 59);
    font-size: 40px;
    text-align: left;
    width: inherit;
    /*padding:120px 0 0 200px;*/
    text-shadow: 1px -1px 1px white, 1px 1px 1px white;
    /*transform: rotate(5deg);*/
    /*background-color: red;*/
}

.dodatkowe-funkcjonalnosci {
    border: solid;
    color: rgb(60, 119, 159);
    border-left: none;
    border-right: none;
    border-width: 1px;
    position: center;
    border-color: rgb(60, 119, 159);
    background-color: rgba(255, 255, 255, 0.8);
    float: none;
    text-align: center;


}

.margines {
    margin-top: 15px;
    margin-bottom: 25px;

}

.marin-dodatkowe-funkcjonalnosci{
    margin-left: 20px;
    margin-right:20px;
    margin-top: 15px;
    padding-bottom: 15px;
    display: inline;

}



.feature-icon {
    display: inline-block;
    width: 100px;
    height: 120px;
    box-shadow: 5px 0 10px rgba(193, 193, 193, 0.75), -5px 0 10px rgba(193, 193, 193, 0.8)
}

.feature-icon img {
    margin: 10px;
}


.marin-dodatkowe-funkcjonalnosci :hover{
    cursor: pointer;
    transform: scale(1.1);
}


.o-nas {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(60, 119, 159);
    font-size: 25px;
    padding-top: 20px;
    /*border-bottom: 1px solid #142B7F;*/
    padding-bottom: 20px;
    text-align: center;


}
span.contact{
    line-height: 50px;
    font-size: 30px;
    font-family: "Helvetica", "sans-serif";

}

.o-nas li {
    background-color: transparent;
    display: inline-block;
    text-align: justify;
    width: 250px;
    vertical-align: top;
    height: 150px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 15px;
    box-shadow: 5px 0 10px rgba(193, 193, 193, 0.75), -5px 0 10px rgba(193, 193, 193, 0.8)

}


.o-nas li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    cursor: pointer;
}


.o-nas h1 {
    text-align: left;
    padding-left: 20px;
    font-family: "Helvetica", "sans-serif";

}



.o-nas a {
    font-size: 15px;
    color: rgb(60, 119, 159);
    font-family: "Helvetica", "sans-serif";


}


footer {
    background-color: rgba(193, 193, 193, 0.75);
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
    color: rgb(60, 119, 159);


}


.menu-footer  {
    font-size: 16px;
    margin-left: 30px;
    margin-right:30px;
    display: inline;
    cursor: pointer;

}
.menu-footer a {
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
    margin-right:30px;

}

.menu-footer a:hover{

    transform: scale(1.3);
}





.copy-right {
    display:block;
    font-size: 15px;
    padding: 20px;

}

