.funkcje h1 {
    color: #ffb415;
    font-family: Arial sans-serif;
    font-size: 35px;
}

.funkcje .funkcja {
    background-color: brown;
    width: 40%;
    border: solid;
    position: relative;
    border-radius: 10px;
}

.funkcje .funkcja:hover {
    transform: scale(1.1);
}

.funkcje .funkcja-kalendarz {
    left: 100px;
    top: 25px;
}

.funkcje .funkcja-bilety {
    top:25px;
    left: 50px;
}

.funkcje .funkcja-profil {
    left: 100px;
    top: 25px;
}

.funkcje .funkcja-mapa {
    top: 25px;
    left: 50px;
}




ul li {
    display: inline-block;
}

ul{
    margin: 0;
}
#menu{
    background-color: #ff0121;
    text-align: center;

}
a {
    padding: 0 20px 0 20px;
    background-color: #ffb415;
    /*background-color: red;*/
    font-size: 20px;
}
.sekcja-zajawka {
    width: 1000px;
    height: 400px;
    background-color: brown;
    /*background-image: url('../images/images.jpeg');*/
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: inherit;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    width: 100%;
    height: 25%;


}

