body {
    background-image: url('./images/tlo.jpg');
    background-size: cover;
    position: relative;
    /*width: 1000px;*/
}

.clear {
    clear: both;
}

a {
    padding: 0 20px 0 20px;
    font-size: 20px;
    color: #142B7F;

}

.funkcja .lewo {
    text-align: center;
    position: relative;
    top: 370px;
}

.funkcje h1 {
    position: relative;
    color: #ffb415;
    font-family: Arial sans-serif;
    font-size: 45px;
    text-align: center;
}

.funkcje {
    background-color: rgba(255, 255, 255, 0.9);
    /*width: 100%;*/
    position: relative;
    float: left;
    /*left:300px;*/
    display: inline-block;
}
main{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 2000px;
}
.funkcje .funkcja {
    height: 450px;
    width: 450px;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
}

.funkcje .funkcja:hover {
    transform: scale(1.1);
}

.funkcje .funkcja-kalendarz {
    background: url("../jfdd2-events/images/Calendar.png") no-repeat center;
    background-size: 350px;
    position: relative;
    width: 40%;
    float: left;
    top: 25px;
    left: 35px;
}

.funkcje .funkcja-bilety {
    background: url("../jfdd2-events/images/movie6.png") no-repeat center;
    background-size: 350px;
    position: relative;
    width: 40%;
    float: right;
    right: 35px;
    top: 25px;
}

.funkcje .funkcja-profil {
    background: url("../jfdd2-events/images/photo.png") no-repeat center;
    background-size: 350px;
    position: relative;
    width: 40%;
    float: left;
    left: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.funkcje .funkcja-mapa {
    background: url("../jfdd2-events/images/map1.png") no-repeat center;
    background-size: 350px;
    position: relative;
    width: 40%;
    float: right;
    right: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.smif .funkcja-social-media {
    float: right;
    position: fixed;
    overflow: hidden;
    padding-left: 350px;
    right: 0;
}

.smif .rozmiar-ikon {
    width: 100px;
    height: 100px;
}

.smif .skala {
    /*position: absolute;*/
    width: 100px;
    height: 100px;
    background: none;
    transition: margin-left 2s;
}

.smif .skala:hover {
    /*position: absolute;*/
    margin-left: -350px;
}

.smif .funkcja-social-media .skala {
    /*position: relative;*/
    width: 100px;
    height: 100px;
}

a.linki-zewnętrzne {
    position: absolute;
    font-size: 35px;
    border: solid;
    border-color: transparent;
    border-width: 35px;
    margin-left: -94px;
    margin-top: -3px;
    border-right-width: 75px;
    border-left-width: 110px;
    text-decoration: none;
    color: black;
}

#ciastka{
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 50px;
    color:#142B7F;

}

.menu ul {
    margin-right: 50px;
}

.menu ul li {
    display: inline-block;

}

.menu ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);

}

.menu {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: right;
    line-height: 100px;
}

.menu-el-zewnetrzene-prawy {
    margin-left: 5px;
}

.menu-el-zewnetrzene-lewy {
    margin-right: 5px;
}

.menu-el-zewnetrzene-srodek {
    margin: 0 5px 0 5px;
}

.menu a {
    background-color: transparent;
    font-size: 24px;
    color: #142B7F;
}

/*.formularz {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*padding: 20px;*/
/*}*/

.formularz input[type=text],
.formularz input[type=email] {
    background-color: rgba(255, 255, 255, 0.9);
    color: #142B7F;
    border-radius: 6px;
}

.formularz input[type=submit] {
    background-color: rgba(255, 255, 255, 0.9);
    color: #142B7F;
    font-size: 20px;
    border-radius: 6px;
    width: 100px;

}

.formularz input {
    height: 33px;
    width: 110px;
    font-size: 18px;
    padding: 0 5px 0;
}

input:focus {
    outline: 0;
}

.formularz span {
    display: inline-block;
    width: 130px;
    color: #142B7F;
    font-size: 20px;
    font-weight: bold;

}

.sekcja-zajawka {
    background-color: brown;
    /*background-image: url('./images/images.jpeg');*/
    background-image: url('./images/zajawka.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: inherit;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    height: 200px;
    position: relative;
    text-shadow: 2px -2px 1px #142B7F;
}


.dodatkowe-funkcjonalnosci {

    border: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    position: center;
    border-color: #142B7F;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    float: none;
    text-align: center;

}

.margines{
    margin-top: 15px;
    margin-bottom: 25px;
}

.marin-dodatkowe-funkcjonalnosci{
    margin-left: 20px;
    margin-right:20px;
    margin-top: 15px;
    padding-bottom: 15px;
    display: inline;
    transition: background-color 5s 10s;
}



.feature-icon {
    display: inline-block;
    width: 100px;
    height: 120px;
}

.feature-icon img {
    margin: 10px;
}

.feature-icon :hover{
    cursor: pointer;
    transform: scale(1.3);
}


.icon-cinema:hover {
    background-color: #fdfdb7;
}

.icon-teatr:hover {
    background-color: #ffc8a5;
}

.icon-sport:hover {
    background-color: #fdfdb7;
}

.icon-wakacje:hover {
    background-color: #d2ffbd;
}

.icon-muzea:hover {
    background-color: #afd0ff;
}

.icon-kluby:hover {
    background-color: #c4ffe1;
}



.o-nas {

    background-color: rgba(255, 255, 255, 0.9);
    color:  #142B7F;
    font-family: inherit;
    font-size: 20px;

    padding-top: 20px;
    border-bottom: 1px solid #142B7F;
    padding-bottom: 20px;
    text-align: center;


}

.o-nas li {
    background-color: #afd0ff;
    display: inline-block;
    text-align: justify;
    width: 250px;
    vertical-align: top;
    height: 250px;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 12px;

}

.o-nas h1 {
    text-align: left;
    padding-left: 20px;
}

.o-nas a {
    font-size: 15px;
    color: black;


}
footer {
    background-color: rgba(193, 193, 193, 0.96);
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
    color:  #142B7F;
    cursor: pointer;

}




.menu-footer  {
    font-size: 16px;
    margin-left: 30px;
    margin-right:30px;
    display: inline;

}
.menu-footer a {
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
    margin-right:30px;

}

.menu-footer a:hover{

    transform: scale(1.3);
}





.copy-right {
    display:block;
    font-size: 15px;
    padding: 20px;

}

